:root {
  --dark-color: #000000;
  --dark-color-opacity-10: 0,0,0,10%;
  --dark-color-opacity-70: 0,0,0,70%;
  --light-color: #ffffff;
  --light-color-opaciy-70: 255,255,255,70%;
  --light-color-opaciy-80: 255,255,255,80%;
  --secondary-color: #7d9b8f;
  --secondary-color-opacity-30: 125,155,143,30%;
  --secondary-color-opacity-70: 125,155,143,70%;
  --danger-color: #FF3D00;
  --round-border-radius: 10px;
  --rounded-border-radius: 5px;
  --transition-property: .30s ease-in-out;
  --container-padding: 20px;
  --decors-height: 573px;
  --col-min-width: 300px;
  --secondary-button-hover: #94B9A9;
  --secondary-button-active: #6B7D76;
  --secondary-button-disabled: #D3DCD8;
  --light-button-hover: #E9FFF6;
  --light-button-active: #CCD7D2;
  --light-button-disabled: #D3D4D4;
}
