section.products
    .products__inner
        .products__head
            h2.products__title lectus magna
            a.products__link(href="#") Explore All
        .products__list
            include ../../../components/card/card
        .products__quote
            include ../../../components/quote/quote
        .products__partners
            include ../../../components/partners/partners


