section.service
    .service__inner
        .service__body
            .service__img
                img(src="./img/img-service.jpg" alt="purus sit")
            .service__content
                h2.service__title Purus Sit Amet Luctus
                p.service__text Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna.
                .service__accordion
                    include ../../../components/accordion/accordion
