header.header
    .header__inner
        .header__top
            include ../../components/logo/logo
            include ../../components/main-menu/main-menu
            button.header__button.button.button--large.button--primary.js-open-popup(type="button") Contact



