extends ../layouts/default

block variables
	- const title = "HyperEstate"

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/main-content/main-content
	include ../../blocks/modules/footer/footer
	include ../../blocks/components/popup/popup

block scripts
	script(src="js/vendor.js")
