section.subscribe
    .subscribe__inner
        h2.subscribe__title Ready to get started?
        p.subscribe__text To join the worldwide community
        +form("text", "field--group", "Enter Your Email", "Join Now","form__button-group button--medium button--secondary", "submit", "subscribe__form form--small")
