figure.quote
    figcaption.quote__detail
        cite.quote__author John Doe
        | Founder HyperEstate
    blockquote.quote__text  Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor.
